//----------------------------------------------------------//
//	SVG ICONS
//----------------------------------------------------------//
.icon-svg,
.icon-svg.icon-svg-lg {
  width: 3rem;
  height: 3rem;
}
.icon-svg.icon-svg-md {
  width: 2.6rem;
  height: 2.6rem;
}
.icon-svg.icon-svg-sm {
  width: 2.2rem;
  height: 2.2rem;
}
.svg-fill {
  fill: tint-color($main-color, $icon-fill-level);
}
.svg-stroke {
  fill: #36496d;
}
@each $color, $value in $theme-colors {
  .text-#{$color} .svg-fill {
    fill: tint-color($value, $icon-fill-level);
  }
}
//----------------------------------------------------------//
//	RATINGS
//----------------------------------------------------------//
.ratings {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 0.8rem;

  &:after {
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-style: normal;
    font-weight: normal;
    @include font-size(0.9rem);
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    color: #fcc032;
    content: "\2605\2605\2605\2605\2605";
    overflow: hidden;
  }

  &.one:after {
    content: "\2605";
  }

  &.two:after {
    content: "\2605\2605";
  }
  &.three:after {
    content: "\2605\2605\2605";
  }
  &.four:after {
    content: "\2605\2605\2605\2605";
  }
}
.custom-control .ratings {
  height: 0.9rem;
}
//----------------------------------------------------------//
//	FONT ICONS
//----------------------------------------------------------//
@font-face {
  font-family: "Unicons";
  src: url("../../../../public/fonts/unicons/Unicons.eot?muc7dc");
  src: url("../../../../public/fonts/unicons/Unicons.eot?muc7dc#iefix")
      format("embedded-opentype"),
    url("../../../../public/fonts/unicons/Unicons.ttf?muc7dc") format("truetype"),
    url("../../../../public/fonts/unicons/Unicons.woff?muc7dc") format("woff"),
    url("../../../../public/fonts/unicons/Unicons.svg?muc7dc#Unicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Custom";
  src: url("../../../../public/fonts/custom/Custom.eot?z33z5m");
  src: url("../../../../public/fonts/custom/Custom.eot?z33z5m#iefix")
      format("embedded-opentype"),
    url("../../../../public/fonts/custom/Custom.ttf?z33z5m") format("truetype"),
    url("../../../../public/fonts/custom/Custom.woff?z33z5m") format("woff"),
    url("../../../../public/fonts/custom/Custom.svg?z33z5m#Custom") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="uil-"],
[class*=" uil-"],
[class^="icn-"],
[class*=" icn-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: normal;
}
[class^="uil-"],
[class*=" uil-"] {
  font-family: "Unicons" !important;
}
[class^="icn-"],
[class*=" icn-"] {
  font-family: "Custom" !important;
}
.icn-caret-down:before {
  content: "\e900";
}
.icn-caret-left:before {
  content: "\e901";
}
.icn-caret-right:before {
  content: "\e902";
}
.icn-caret-up:before {
  content: "\e903";
}
.icn-comment-line:before {
  content: "\e904";
}
.uil-plus-0:before {
  content: "\e900";
}
.uil-plus-3:before {
  content: "\e901";
}
.uil-plus-6:before {
  content: "\e902";
}
.uil-plus-10:before {
  content: "\e903";
}
.uil-plus-12:before {
  content: "\e904";
}
.uil-plus-13:before {
  content: "\e905";
}
.uil-plus-16:before {
  content: "\e906";
}
.uil-plus-17:before {
  content: "\e907";
}
.uil-plus-18:before {
  content: "\e908";
}
.uil-plus-21:before {
  content: "\e909";
}
.uil-500-px:before {
  content: "\e90a";
}
.uil-abacus:before {
  content: "\e90b";
}
.uil-accessible-icon-alt:before {
  content: "\e90c";
}
.uil-adjust-circle:before {
  content: "\e90d";
}
.uil-adjust-alt:before {
  content: "\e90e";
}
.uil-adobe-alt:before {
  content: "\e90f";
}
.uil-adjust:before {
  content: "\e910";
}
.uil-align-center:before {
  content: "\e911";
}
.uil-align-center-v:before {
  content: "\e912";
}
.uil-align-center-alt:before {
  content: "\e913";
}
.uil-align-alt:before {
  content: "\e914";
}
.uil-arrow-break:before {
  content: "\e915";
}
.uil-archway:before {
  content: "\e916";
}
.uil-align-center-justify:before {
  content: "\e917";
}
.uil-align-center-h:before {
  content: "\e918";
}
.uil-archive-alt:before {
  content: "\e919";
}
.uil-apple-alt:before {
  content: "\e91a";
}
.uil-annoyed:before {
  content: "\e91b";
}
.uil-angle-up:before {
  content: "\e91c";
}
.uil-angle-right:before {
  content: "\e91d";
}
.uil-angle-down:before {
  content: "\e91e";
}
.uil-angle-double-right:before {
  content: "\e91f";
}
.uil-angle-double-left:before {
  content: "\e920";
}
.uil-arrows-merge:before {
  content: "\e921";
}
.uil-arrows-maximize:before {
  content: "\e922";
}
.uil-angle-right-b:before {
  content: "\e923";
}
.uil-arrow-resize-diagonal:before {
  content: "\e924";
}
.uil-arrow-random:before {
  content: "\e925";
}
.uil-angle-left:before {
  content: "\e926";
}
.uil-annoyed-alt:before {
  content: "\e927";
}
.uil-ball:before {
  content: "\e928";
}
.uil-balance-scale:before {
  content: "\e929";
}
.uil-backward:before {
  content: "\e92a";
}
.uil-backspace:before {
  content: "\e92b";
}
.uil-award-alt:before {
  content: "\e92c";
}
.uil-atom:before {
  content: "\e92d";
}
.uil-auto-flash:before {
  content: "\e92e";
}
.uil-bell-slash:before {
  content: "\e92f";
}
.uil-bell-school:before {
  content: "\e930";
}
.uil-behance:before {
  content: "\e931";
}
.uil-behance-alt:before {
  content: "\e932";
}
.uil-bed:before {
  content: "\e933";
}
.uil-blogger:before {
  content: "\e934";
}
.uil-bluetooth-b:before {
  content: "\e935";
}
.uil-bold:before {
  content: "\e936";
}
.uil-bolt-alt:before {
  content: "\e937";
}
.uil-bolt-slash:before {
  content: "\e938";
}
.uil-bolt:before {
  content: "\e939";
}
.uil-blogger-alt:before {
  content: "\e93a";
}
.uil-black-berry:before {
  content: "\e93b";
}
.uil-atm-card:before {
  content: "\e93c";
}
.uil-arrows-h-alt:before {
  content: "\e93d";
}
.uil-arrow-up:before {
  content: "\e93e";
}
.uil-arrow-up-right:before {
  content: "\e93f";
}
.uil-bookmark:before {
  content: "\e940";
}
.uil-book:before {
  content: "\e941";
}
.uil-book-reader:before {
  content: "\e942";
}
.uil-book-open:before {
  content: "\e943";
}
.uil-border-top:before {
  content: "\e944";
}
.uil-border-right:before {
  content: "\e945";
}
.uil-arrows-left-down:before {
  content: "\e946";
}
.uil-arrows-h:before {
  content: "\e947";
}
.uil-bookmark-full:before {
  content: "\e948";
}
.uil-bitcoin:before {
  content: "\e949";
}
.uil-bitcoin-circle:before {
  content: "\e94a";
}
.uil-bitcoin-bold:before {
  content: "\e94b";
}
.uil-bus:before {
  content: "\e94c";
}
.uil-bus-alt:before {
  content: "\e94d";
}
.uil-bullseye:before {
  content: "\e94e";
}
.uil-building:before {
  content: "\e94f";
}
.uil-calendar-slash:before {
  content: "\e950";
}
.uil-calculator-alt:before {
  content: "\e951";
}
.uil-calcualtor:before {
  content: "\e952";
}
.uil-camera-slash:before {
  content: "\e953";
}
.uil-camera-plus:before {
  content: "\e954";
}
.uil-calendar-alt:before {
  content: "\e955";
}
.uil-bitcoin-alt:before {
  content: "\e956";
}
.uil-calculator:before {
  content: "\e957";
}
.uil-car-slash:before {
  content: "\e958";
}
.uil-car-sideview:before {
  content: "\e959";
}
.uil-bill:before {
  content: "\e95a";
}
.uil-bell:before {
  content: "\e95b";
}
.uil-capture:before {
  content: "\e95c";
}
.uil-camera-change:before {
  content: "\e95d";
}
.uil-calling:before {
  content: "\e95e";
}
.uil-capsule:before {
  content: "\e95f";
}
.uil-bug:before {
  content: "\e960";
}
.uil-at:before {
  content: "\e961";
}
.uil-asterisk:before {
  content: "\e962";
}
.uil-angle-double-up:before {
  content: "\e963";
}
.uil-chart-down:before {
  content: "\e964";
}
.uil-calender:before {
  content: "\e965";
}
.uil-chart-bar:before {
  content: "\e966";
}
.uil-assistive-listening-systems:before {
  content: "\e967";
}
.uil-arrows-v:before {
  content: "\e968";
}
.uil-brush-alt:before {
  content: "\e969";
}
.uil-bring-front:before {
  content: "\e96a";
}
.uil-brightness-minus:before {
  content: "\e96b";
}
.uil-brightness-low:before {
  content: "\e96c";
}
.uil-bright:before {
  content: "\e96d";
}
.uil-briefcase:before {
  content: "\e96e";
}
.uil-circle:before {
  content: "\e96f";
}
.uil-circle-layer:before {
  content: "\e970";
}
.uil-check:before {
  content: "\e971";
}
.uil-book-medical:before {
  content: "\e972";
}
.uil-book-alt:before {
  content: "\e973";
}
.uil-check-square:before {
  content: "\e974";
}
.uil-brightness-half:before {
  content: "\e975";
}
.uil-brightness-empty:before {
  content: "\e976";
}
.uil-bring-bottom:before {
  content: "\e977";
}
.uil-border-out:before {
  content: "\e978";
}
.uil-border-horizontal:before {
  content: "\e979";
}
.uil-border-bottom:before {
  content: "\e97a";
}
.uil-border-alt:before {
  content: "\e97b";
}
.uil-briefcase-alt:before {
  content: "\e97c";
}
.uil-box:before {
  content: "\e97d";
}
.uil-check-circle:before {
  content: "\e97e";
}
.uil-chart-bar-alt:before {
  content: "\e97f";
}
.uil-celsius:before {
  content: "\e980";
}
.uil-cell:before {
  content: "\e981";
}
.uil-boombox:before {
  content: "\e982";
}
.uil-border-clear:before {
  content: "\e983";
}
.uil-bowling-ball:before {
  content: "\e984";
}
.uil-border-left:before {
  content: "\e985";
}
.uil-brightness:before {
  content: "\e986";
}
.uil-brightness-plus:before {
  content: "\e987";
}
.uil-cloud-exclamation:before {
  content: "\e988";
}
.uil-cart:before {
  content: "\e989";
}
.uil-cloud-drizzle:before {
  content: "\e98a";
}
.uil-cloud-download:before {
  content: "\e98b";
}
.uil-border-inner:before {
  content: "\e98c";
}
.uil-books:before {
  content: "\e98d";
}
.uil-chat:before {
  content: "\e98e";
}
.uil-chat-info:before {
  content: "\e98f";
}
.uil-chat-bubble-user:before {
  content: "\e990";
}
.uil-cloud-rain-sun:before {
  content: "\e991";
}
.uil-cloud-database-tree:before {
  content: "\e992";
}
.uil-cloud-data-connection:before {
  content: "\e993";
}
.uil-border-vertical:before {
  content: "\e994";
}
.uil-cloud-computing:before {
  content: "\e995";
}
.uil-caret-right:before {
  content: "\e996";
}
.uil-cloud-check:before {
  content: "\e997";
}
.uil-card-atm:before {
  content: "\e998";
}
.uil-cloud-bookmark:before {
  content: "\e999";
}
.uil-car:before {
  content: "\e99a";
}
.uil-cloud-block:before {
  content: "\e99b";
}
.uil-cloud-sun-rain:before {
  content: "\e99c";
}
.uil-cloud-sun-tear:before {
  content: "\e99d";
}
.uil-cloud-sun-rain-alt:before {
  content: "\e99e";
}
.uil-cloud-sun-meatball:before {
  content: "\e99f";
}
.uil-cloud-unlock:before {
  content: "\e9a0";
}
.uil-cloud-times:before {
  content: "\e9a1";
}
.uil-cloud-sun-hail:before {
  content: "\e9a2";
}
.uil-cloud-upload:before {
  content: "\e9a3";
}
.uil-cloud-wifi:before {
  content: "\e9a4";
}
.uil-cloud-wind:before {
  content: "\e9a5";
}
.uil-car-wash:before {
  content: "\e9a6";
}
.uil-closed-captioning:before {
  content: "\e9a7";
}
.uil-cloud-slash:before {
  content: "\e9a8";
}
.uil-club:before {
  content: "\e9a9";
}
.uil-cloud-showers-heavy:before {
  content: "\e9aa";
}
.uil-cloud-showers-alt:before {
  content: "\e9ab";
}
.uil-cloud-shield:before {
  content: "\e9ac";
}
.uil-cloud:before {
  content: "\e9ad";
}
.uil-clock:before {
  content: "\e9ae";
}
.uil-cloud-set:before {
  content: "\e9af";
}
.uil-cloud-share:before {
  content: "\e9b0";
}
.uil-clouds:before {
  content: "\e9b1";
}
.uil-clock-two:before {
  content: "\e9b2";
}
.uil-clock-three:before {
  content: "\e9b3";
}
.uil-chart:before {
  content: "\e9b4";
}
.uil-clock-ten:before {
  content: "\e9b5";
}
.uil-cloud-rain:before {
  content: "\e9b6";
}
.uil-baby-carriage:before {
  content: "\e9b7";
}
.uil-bed-double:before {
  content: "\e9b8";
}
.uil-arrow:before {
  content: "\e9b9";
}
.uil-clock-seven:before {
  content: "\e9ba";
}
.uil-cloud-moon:before {
  content: "\e9bb";
}
.uil-cloud-sun:before {
  content: "\e9bc";
}
.uil-backpack:before {
  content: "\e9bd";
}
.uil-basketball:before {
  content: "\e9be";
}
.uil-battery-empty:before {
  content: "\e9bf";
}
.uil-cloud-question:before {
  content: "\e9c0";
}
.uil-bars:before {
  content: "\e9c1";
}
.uil-cloud-moon-rain:before {
  content: "\e9c2";
}
.uil-battery-bolt:before {
  content: "\e9c3";
}
.uil-cloud-moon-hail:before {
  content: "\e9c4";
}
.uil-ban:before {
  content: "\e9c5";
}
.uil-arrow-up-left:before {
  content: "\e9c6";
}
.uil-basketball-hoop:before {
  content: "\e9c7";
}
.uil-cloud-meatball:before {
  content: "\e9c8";
}
.uil-arrow-to-bottom:before {
  content: "\e9c9";
}
.uil-arrow-to-right:before {
  content: "\e9ca";
}
.uil-cloud-lock:before {
  content: "\e9cb";
}
.uil-arrows-up-right:before {
  content: "\e9cc";
}
.uil-arrows-v-alt:before {
  content: "\e9cd";
}
.uil-bus-school:before {
  content: "\e9ce";
}
.uil-baseball-ball:before {
  content: "\e9cf";
}
.uil-arrows-shrink-v:before {
  content: "\e9d0";
}
.uil-cloud-info:before {
  content: "\e9d1";
}
.uil-arrow-right:before {
  content: "\e9d2";
}
.uil-cloud-hail:before {
  content: "\e9d3";
}
.uil-cancel:before {
  content: "\e9d4";
}
.uil-camera:before {
  content: "\e9d5";
}
.uil-chart-pie:before {
  content: "\e9d6";
}
.uil-clock-nine:before {
  content: "\e9d7";
}
.uil-chart-pie-alt:before {
  content: "\e9d8";
}
.uil-bath:before {
  content: "\e9d9";
}
.uil-bag:before {
  content: "\e9da";
}
.uil-ankh:before {
  content: "\e9db";
}
.uil-angry:before {
  content: "\e9dc";
}
.uil-chart-line:before {
  content: "\e9dd";
}
.uil-clock-five:before {
  content: "\e9de";
}
.uil-clock-eight:before {
  content: "\e9df";
}
.uil-bag-slash:before {
  content: "\e9e0";
}
.uil-bag-alt:before {
  content: "\e9e1";
}
.uil-clipboard:before {
  content: "\e9e2";
}
.uil-clipboard-notes:before {
  content: "\e9e3";
}
.uil-arrows-shrink-h:before {
  content: "\e9e4";
}
.uil-arrows-resize:before {
  content: "\e9e5";
}
.uil-chart-growth:before {
  content: "\e9e6";
}
.uil-clipboard-blank:before {
  content: "\e9e7";
}
.uil-arrows-right-down:before {
  content: "\e9e8";
}
.uil-chart-growth-alt:before {
  content: "\e9e9";
}
.uil-clipboard-alt:before {
  content: "\e9ea";
}
.uil-arrows-resize-h:before {
  content: "\e9eb";
}
.uil-arrows-resize-v:before {
  content: "\e9ec";
}
.uil-airplay:before {
  content: "\e9ed";
}
.uil-angle-double-down:before {
  content: "\e9ee";
}
.uil-android-alt:before {
  content: "\e9ef";
}
.uil-android-phone-slash:before {
  content: "\e9f0";
}
.uil-clapper-board:before {
  content: "\e9f1";
}
.uil-circuit:before {
  content: "\e9f2";
}
.uil-align:before {
  content: "\e9f3";
}
.uil-align-letter-right:before {
  content: "\e9f4";
}
.uil-amazon:before {
  content: "\e9f5";
}
.uil-align-left-justify:before {
  content: "\e9f6";
}
.uil-arrow-left:before {
  content: "\e9f7";
}
.uil-align-justify:before {
  content: "\e9f8";
}
.uil-arrow-growth:before {
  content: "\e9f9";
}
.uil-arrow-from-right:before {
  content: "\e9fa";
}
.uil-arrow-from-top:before {
  content: "\e9fb";
}
.uil-align-left:before {
  content: "\e9fc";
}
.uil-android:before {
  content: "\e9fd";
}
.uil-adobe:before {
  content: "\e9fe";
}
.uil-arrow-down:before {
  content: "\e9ff";
}
.uil-adjust-half:before {
  content: "\ea00";
}
.uil-award:before {
  content: "\ea01";
}
.uil-arrow-down-left:before {
  content: "\ea02";
}
.uil-anchor:before {
  content: "\ea03";
}
.uil-arrow-compress-h:before {
  content: "\ea04";
}
.uil-analytics:before {
  content: "\ea05";
}
.uil-analysis:before {
  content: "\ea06";
}
.uil-apps:before {
  content: "\ea07";
}
.uil-archive:before {
  content: "\ea08";
}
.uil-apple:before {
  content: "\ea09";
}
.uil-arrow-circle-up:before {
  content: "\ea0a";
}
.uil-arrow-circle-right:before {
  content: "\ea0b";
}
.uil-align-right:before {
  content: "\ea0c";
}
.uil-align-right-justify:before {
  content: "\ea0d";
}
.uil-cloud-moon-showers:before {
  content: "\ea0e";
}
.uil-arrow-circle-left:before {
  content: "\ea0f";
}
.uil-arrow-circle-down:before {
  content: "\ea10";
}
.uil-code:before {
  content: "\ea11";
}
.uil-coins:before {
  content: "\ea12";
}
.uil-coffee:before {
  content: "\ea13";
}
.uil-columns:before {
  content: "\ea14";
}
.uil-comment-alt-block:before {
  content: "\ea15";
}
.uil-comment-alt-dots:before {
  content: "\ea16";
}
.uil-comment-alt-chart-lines:before {
  content: "\ea17";
}
.uil-comment-alt-download:before {
  content: "\ea18";
}
.uil-comment-alt-edit:before {
  content: "\ea19";
}
.uil-comment-alt-exclamation:before {
  content: "\ea1a";
}
.uil-comment-alt-check:before {
  content: "\ea1b";
}
.uil-comment-alt-heart:before {
  content: "\ea1c";
}
.uil-comment-alt-image:before {
  content: "\ea1d";
}
.uil-comment-alt-info:before {
  content: "\ea1e";
}
.uil-comment-alt-lines:before {
  content: "\ea1f";
}
.uil-comment-alt-lock:before {
  content: "\ea20";
}
.uil-comment-alt-medical:before {
  content: "\ea21";
}
.uil-comment-alt-message:before {
  content: "\ea22";
}
.uil-comment-alt-notes:before {
  content: "\ea23";
}
.uil-comment-alt-plus:before {
  content: "\ea24";
}
.uil-comment-alt-question:before {
  content: "\ea25";
}
.uil-comment-alt-redo:before {
  content: "\ea26";
}
.uil-comment-alt-search:before {
  content: "\ea27";
}
.uil-comment-alt-share:before {
  content: "\ea28";
}
.uil-comment-alt-shield:before {
  content: "\ea29";
}
.uil-comment-alt-slash:before {
  content: "\ea2a";
}
.uil-comment-alt-upload:before {
  content: "\ea2b";
}
.uil-comment-alt-verify:before {
  content: "\ea2c";
}
.uil-comment-alt:before {
  content: "\ea2d";
}
.uil-comment-block:before {
  content: "\ea2e";
}
.uil-comment-chart-line:before {
  content: "\ea2f";
}
.uil-comment-check:before {
  content: "\ea30";
}
.uil-comment-dots:before {
  content: "\ea31";
}
.uil-comment-download:before {
  content: "\ea32";
}
.uil-comment-edit:before {
  content: "\ea33";
}
.uil-comment-exclamation:before {
  content: "\ea34";
}
.uil-comment-heart:before {
  content: "\ea35";
}
.uil-comment-image:before {
  content: "\ea36";
}
.uil-comment-info-alt:before {
  content: "\ea37";
}
.uil-comment-info:before {
  content: "\ea38";
}
.uil-comment-lines:before {
  content: "\ea39";
}
.uil-comment-lock:before {
  content: "\ea3a";
}
.uil-comment-medical:before {
  content: "\ea3b";
}
.uil-comment-message:before {
  content: "\ea3c";
}
.uil-comment-notes:before {
  content: "\ea3d";
}
.uil-comment-plus:before {
  content: "\ea3e";
}
.uil-comment-question:before {
  content: "\ea3f";
}
.uil-comment-redo:before {
  content: "\ea40";
}
.uil-comment-search:before {
  content: "\ea41";
}
.uil-comment-share:before {
  content: "\ea42";
}
.uil-comment-shield:before {
  content: "\ea43";
}
.uil-comment-slash:before {
  content: "\ea44";
}
.uil-comment-upload:before {
  content: "\ea45";
}
.uil-comment-verify:before {
  content: "\ea46";
}
.uil-comment:before {
  content: "\ea47";
}
.uil-comments-alt:before {
  content: "\ea48";
}
.uil-comments:before {
  content: "\ea49";
}
.uil-commnet-alt-slash:before {
  content: "\ea4a";
}
.uil-compact-disc:before {
  content: "\ea4b";
}
.uil-compass:before {
  content: "\ea4c";
}
.uil-compress-alt-left:before {
  content: "\ea4d";
}
.uil-compress-alt:before {
  content: "\ea4e";
}
.uil-compress-arrows:before {
  content: "\ea4f";
}
.uil-compress-lines:before {
  content: "\ea50";
}
.uil-compress-point:before {
  content: "\ea51";
}
.uil-compress-v:before {
  content: "\ea52";
}
.uil-compress:before {
  content: "\ea53";
}
.uil-computer-mouse:before {
  content: "\ea54";
}
.uil-confused:before {
  content: "\ea55";
}
.uil-constructor:before {
  content: "\ea56";
}
.uil-copy-alt:before {
  content: "\ea57";
}
.uil-copy-landscape:before {
  content: "\ea58";
}
.uil-copy:before {
  content: "\ea59";
}
.uil-copyright:before {
  content: "\ea5a";
}
.uil-corner-down-left:before {
  content: "\ea5b";
}
.uil-corner-down-right-alt:before {
  content: "\ea5c";
}
.uil-corner-down-right:before {
  content: "\ea5d";
}
.uil-corner-right-down:before {
  content: "\ea5e";
}
.uil-corner-left-down:before {
  content: "\ea5f";
}
.uil-corner-up-left-alt:before {
  content: "\ea60";
}
.uil-corner-up-left:before {
  content: "\ea61";
}
.uil-corner-up-right-alt:before {
  content: "\ea62";
}
.uil-corner-up-right:before {
  content: "\ea63";
}
.uil-creative-commons-pd-alt:before {
  content: "\ea64";
}
.uil-creative-commons-pd:before {
  content: "\ea65";
}
.uil-crockery:before {
  content: "\ea66";
}
.uil-crop-alt-rotate-left:before {
  content: "\ea67";
}
.uil-crop-alt-rotate-right:before {
  content: "\ea68";
}
.uil-crop-alt:before {
  content: "\ea69";
}
.uil-crosshair-alt:before {
  content: "\ea6a";
}
.uil-crosshair:before {
  content: "\ea6b";
}
.uil-cube:before {
  content: "\ea6c";
}
.uil-dashboard:before {
  content: "\ea6d";
}
.uil-crosshairs:before {
  content: "\ea6e";
}
.uil-database:before {
  content: "\ea6f";
}
.uil-desert:before {
  content: "\ea70";
}
.uil-desktop-alt-slash:before {
  content: "\ea71";
}
.uil-database-alt:before {
  content: "\ea72";
}
.uil-data-sharing:before {
  content: "\ea73";
}
.uil-desktop-slash:before {
  content: "\ea74";
}
.uil-desktop:before {
  content: "\ea75";
}
.uil-dialpad-alt:before {
  content: "\ea76";
}
.uil-desktop-cloud-alt:before {
  content: "\ea77";
}
.uil-desktop-alt:before {
  content: "\ea78";
}
.uil-diary:before {
  content: "\ea79";
}
.uil-dice-five:before {
  content: "\ea7a";
}
.uil-diary-alt:before {
  content: "\ea7b";
}
.uil-dice-four:before {
  content: "\ea7c";
}
.uil-diamond:before {
  content: "\ea7d";
}
.uil-dialpad:before {
  content: "\ea7e";
}
.uil-dice-two:before {
  content: "\ea7f";
}
.uil-direction:before {
  content: "\ea80";
}
.uil-directions:before {
  content: "\ea81";
}
.uil-dice-three:before {
  content: "\ea82";
}
.uil-dice-six:before {
  content: "\ea83";
}
.uil-document-layout-center:before {
  content: "\ea84";
}
.uil-dice-one:before {
  content: "\ea85";
}
.uil-dna:before {
  content: "\ea86";
}
.uil-dizzy-meh:before {
  content: "\ea87";
}
.uil-dollar-sign:before {
  content: "\ea88";
}
.uil-down-arrow:before {
  content: "\ea89";
}
.uil-dollar-sign-alt:before {
  content: "\ea8a";
}
.uil-dollar-alt:before {
  content: "\ea8b";
}
.uil-document:before {
  content: "\ea8c";
}
.uil-document-layout-right:before {
  content: "\ea8d";
}
.uil-document-layout-left:before {
  content: "\ea8e";
}
.uil-edit-alt:before {
  content: "\ea8f";
}
.uil-edit:before {
  content: "\ea90";
}
.uil-ellipsis-h:before {
  content: "\ea91";
}
.uil-ellipsis-v:before {
  content: "\ea92";
}
.uil-emoji:before {
  content: "\ea93";
}
.uil-enter:before {
  content: "\ea94";
}
.uil-entry:before {
  content: "\ea95";
}
.uil-envelope-add:before {
  content: "\ea96";
}
.uil-envelope-alt:before {
  content: "\ea97";
}
.uil-envelope-block:before {
  content: "\ea98";
}
.uil-ear:before {
  content: "\ea99";
}
.uil-dumbbell:before {
  content: "\ea9a";
}
.uil-dropbox:before {
  content: "\ea9b";
}
.uil-dribbble:before {
  content: "\ea9c";
}
.uil-envelope-exclamation:before {
  content: "\ea9d";
}
.uil-download-alt:before {
  content: "\ea9e";
}
.uil-envelope-edit:before {
  content: "\ea9f";
}
.uil-envelope-heart:before {
  content: "\eaa0";
}
.uil-drill:before {
  content: "\eaa1";
}
.uil-envelope-download-alt:before {
  content: "\eaa2";
}
.uil-envelope-info:before {
  content: "\eaa3";
}
.uil-envelope-lock:before {
  content: "\eaa4";
}
.uil-envelope-check:before {
  content: "\eaa5";
}
.uil-envelope-minus:before {
  content: "\eaa6";
}
.uil-envelope-open:before {
  content: "\eaa7";
}
.uil-envelope-bookmark:before {
  content: "\eaa8";
}
.uil-envelope-question:before {
  content: "\eaa9";
}
.uil-envelope-receive:before {
  content: "\eaaa";
}
.uil-envelope-redo:before {
  content: "\eaab";
}
.uil-envelope-search:before {
  content: "\eaac";
}
.uil-envelope-send:before {
  content: "\eaad";
}
.uil-envelope-share:before {
  content: "\eaae";
}
.uil-envelope-shield:before {
  content: "\eaaf";
}
.uil-envelope-star:before {
  content: "\eab0";
}
.uil-envelope-times:before {
  content: "\eab1";
}
.uil-envelope-upload-alt:before {
  content: "\eab2";
}
.uil-envelope-upload:before {
  content: "\eab3";
}
.uil-envelope:before {
  content: "\eab4";
}
.uil-envelopes:before {
  content: "\eab5";
}
.uil-equal-circle:before {
  content: "\eab6";
}
.uil-euro-circle:before {
  content: "\eab7";
}
.uil-euro:before {
  content: "\eab8";
}
.uil-exchange-alt:before {
  content: "\eab9";
}
.uil-exchange:before {
  content: "\eaba";
}
.uil-exclamation-circle:before {
  content: "\eabb";
}
.uil-exclamation-octagon:before {
  content: "\eabc";
}
.uil-exclude:before {
  content: "\eabd";
}
.uil-exit:before {
  content: "\eabe";
}
.uil-expand-alt:before {
  content: "\eabf";
}
.uil-expand-arrows-alt:before {
  content: "\eac0";
}
.uil-expand-arrows:before {
  content: "\eac1";
}
.uil-exclamation-triangle:before {
  content: "\eac2";
}
.uil-expand-right:before {
  content: "\eac3";
}
.uil-expand-left:before {
  content: "\eac4";
}
.uil-expand-from-corner:before {
  content: "\eac5";
}
.uil-external-link-alt:before {
  content: "\eac6";
}
.uil-eye-slash:before {
  content: "\eac7";
}
.uil-eye:before {
  content: "\eac8";
}
.uil-exposure-increase:before {
  content: "\eac9";
}
.uil-exposure-alt:before {
  content: "\eaca";
}
.uil-export:before {
  content: "\eacb";
}
.uil-facebook:before {
  content: "\eacc";
}
.uil-facebook-messenger:before {
  content: "\eacd";
}
.uil-facebook-messenger-alt:before {
  content: "\eace";
}
.uil-facebook-f:before {
  content: "\eacf";
}
.uil-file-alt:before {
  content: "\ead0";
}
.uil-fast-mail:before {
  content: "\ead1";
}
.uil-feedback:before {
  content: "\ead2";
}
.uil-favorite:before {
  content: "\ead3";
}
.uil-fast-mail-alt:before {
  content: "\ead4";
}
.uil-fahrenheit:before {
  content: "\ead5";
}
.uil-cloud-showers:before {
  content: "\ead6";
}
.uil-cloud-moon-meatball:before {
  content: "\ead7";
}
.uil-cloud-redo:before {
  content: "\ead8";
}
.uil-cloud-heart:before {
  content: "\ead9";
}
.uil-ambulance:before {
  content: "\eada";
}
.uil-arrow-down-right:before {
  content: "\eadb";
}
.uil-envelope-download:before {
  content: "\eadc";
}
.uil-cog:before {
  content: "\eadd";
}
.uil-file-block-alt:before {
  content: "\eade";
}
.uil-file-blank:before {
  content: "\eadf";
}
.uil-file-bookmark-alt:before {
  content: "\eae0";
}
.uil-file-check-alt:before {
  content: "\eae1";
}
.uil-file-check:before {
  content: "\eae2";
}
.uil-file-contract-dollar:before {
  content: "\eae3";
}
.uil-file-copy-alt:before {
  content: "\eae4";
}
.uil-file-download-alt:before {
  content: "\eae5";
}
.uil-file-download:before {
  content: "\eae6";
}
.uil-file-edit-alt:before {
  content: "\eae7";
}
.uil-file-exclamation-alt:before {
  content: "\eae8";
}
.uil-file-exclamation:before {
  content: "\eae9";
}
.uil-file-heart:before {
  content: "\eaea";
}
.uil-file-info-alt:before {
  content: "\eaeb";
}
.uil-file-landscape-alt:before {
  content: "\eaec";
}
.uil-file-landscape:before {
  content: "\eaed";
}
.uil-file-lanscape-slash:before {
  content: "\eaee";
}
.uil-file-lock-alt:before {
  content: "\eaef";
}
.uil-file-medical-alt:before {
  content: "\eaf0";
}
.uil-file-medical:before {
  content: "\eaf1";
}
.uil-file-minus-alt:before {
  content: "\eaf2";
}
.uil-file-minus:before {
  content: "\eaf3";
}
.uil-file-network:before {
  content: "\eaf4";
}
.uil-file-plus-alt:before {
  content: "\eaf5";
}
.uil-file-question-alt:before {
  content: "\eaf6";
}
.uil-file-plus:before {
  content: "\eaf7";
}
.uil-file-question:before {
  content: "\eaf8";
}
.uil-file-redo-alt:before {
  content: "\eaf9";
}
.uil-file-search-alt:before {
  content: "\eafa";
}
.uil-file-share-alt:before {
  content: "\eafb";
}
.uil-file-shield-alt:before {
  content: "\eafc";
}
.uil-file-slash:before {
  content: "\eafd";
}
.uil-file-times-alt:before {
  content: "\eafe";
}
.uil-file-times:before {
  content: "\eaff";
}
.uil-file-upload-alt:before {
  content: "\eb00";
}
.uil-file-upload:before {
  content: "\eb01";
}
.uil-file:before {
  content: "\eb02";
}
.uil-files-landscapes:before {
  content: "\eb03";
}
.uil-files-landscapes-alt:before {
  content: "\eb04";
}
.uil-film:before {
  content: "\eb05";
}
.uil-filter-slash:before {
  content: "\eb06";
}
.uil-filter:before {
  content: "\eb07";
}
.uil-fire:before {
  content: "\eb08";
}
.uil-flask-potion:before {
  content: "\eb09";
}
.uil-flask:before {
  content: "\eb0a";
}
.uil-flip-h-alt:before {
  content: "\eb0b";
}
.uil-flip-h:before {
  content: "\eb0c";
}
.uil-flip-v-alt:before {
  content: "\eb0d";
}
.uil-flip-v:before {
  content: "\eb0e";
}
.uil-flower:before {
  content: "\eb0f";
}
.uil-focus-add:before {
  content: "\eb10";
}
.uil-focus-target:before {
  content: "\eb11";
}
.uil-focus:before {
  content: "\eb12";
}
.uil-folder-check:before {
  content: "\eb13";
}
.uil-folder-download:before {
  content: "\eb14";
}
.uil-folder-exclamation:before {
  content: "\eb15";
}
.uil-folder-heart:before {
  content: "\eb16";
}
.uil-folder-info:before {
  content: "\eb17";
}
.uil-folder-lock:before {
  content: "\eb18";
}
.uil-folder-medical:before {
  content: "\eb19";
}
.uil-folder-minus:before {
  content: "\eb1a";
}
.uil-folder-network:before {
  content: "\eb1b";
}
.uil-folder-plus:before {
  content: "\eb1c";
}
.uil-folder-question:before {
  content: "\eb1d";
}
.uil-folder-slash:before {
  content: "\eb1e";
}
.uil-folder-times:before {
  content: "\eb1f";
}
.uil-folder-upload:before {
  content: "\eb20";
}
.uil-folder:before {
  content: "\eb21";
}
.uil-food:before {
  content: "\eb22";
}
.uil-football-american:before {
  content: "\eb23";
}
.uil-football-ball:before {
  content: "\eb24";
}
.uil-football:before {
  content: "\eb25";
}
.uil-forecastcloud-moon-tear:before {
  content: "\eb26";
}
.uil-forwaded-call:before {
  content: "\eb27";
}
.uil-forward:before {
  content: "\eb28";
}
.uil-frown:before {
  content: "\eb29";
}
.uil-game-structure:before {
  content: "\eb2a";
}
.uil-game:before {
  content: "\eb2b";
}
.uil-gift:before {
  content: "\eb2c";
}
.uil-github-alt:before {
  content: "\eb2d";
}
.uil-github:before {
  content: "\eb2e";
}
.uil-glass-martini-alt:before {
  content: "\eb2f";
}
.uil-glass-martini-alt-slash:before {
  content: "\eb30";
}
.uil-glass-martini:before {
  content: "\eb31";
}
.uil-glass-tea:before {
  content: "\eb32";
}
.uil-glass:before {
  content: "\eb33";
}
.uil-globe:before {
  content: "\eb34";
}
.uil-gold:before {
  content: "\eb35";
}
.uil-google-drive-alt:before {
  content: "\eb36";
}
.uil-google-drive:before {
  content: "\eb37";
}
.uil-google-hangouts-alt:before {
  content: "\eb38";
}
.uil-google-hangouts:before {
  content: "\eb39";
}
.uil-google-play:before {
  content: "\eb3a";
}
.uil-google:before {
  content: "\eb3b";
}
.uil-graduation-hat:before {
  content: "\eb3c";
}
.uil-graph-bar:before {
  content: "\eb3d";
}
.uil-grid:before {
  content: "\eb3e";
}
.uil-grids:before {
  content: "\eb3f";
}
.uil-grin-tongue-wink-alt:before {
  content: "\eb40";
}
.uil-grin-tongue-wink:before {
  content: "\eb41";
}
.uil-grin:before {
  content: "\eb42";
}
.uil-grip-horizontal-line:before {
  content: "\eb43";
}
.uil-hdd:before {
  content: "\eb44";
}
.uil-headphones-alt:before {
  content: "\eb45";
}
.uil-headphones:before {
  content: "\eb46";
}
.uil-heart-alt:before {
  content: "\eb47";
}
.uil-heart-medical:before {
  content: "\eb48";
}
.uil-heart-rate:before {
  content: "\eb49";
}
.uil-heart-sign:before {
  content: "\eb4a";
}
.uil-heart:before {
  content: "\eb4b";
}
.uil-heartbeat:before {
  content: "\eb4c";
}
.uil-history-alt:before {
  content: "\eb4d";
}
.uil-history:before {
  content: "\eb4e";
}
.uil-home-alt:before {
  content: "\eb4f";
}
.uil-home:before {
  content: "\eb50";
}
.uil-horizontal-align-center:before {
  content: "\eb51";
}
.uil-horizontal-align-left:before {
  content: "\eb52";
}
.uil-horizontal-align-right:before {
  content: "\eb53";
}
.uil-horizontal-distribution-center:before {
  content: "\eb54";
}
.uil-horizontal-distribution-left:before {
  content: "\eb55";
}
.uil-horizontal-distribution-right:before {
  content: "\eb56";
}
.uil-hourglass:before {
  content: "\eb57";
}
.uil-css3-alt:before {
  content: "\eb58";
}
.uil-css3:before {
  content: "\eb59";
}
.uil-hunting:before {
  content: "\eb5a";
}
.uil-image-alt-slash:before {
  content: "\eb5b";
}
.uil-image-block:before {
  content: "\eb5c";
}
.uil-image-broken:before {
  content: "\eb5d";
}
.uil-image-check:before {
  content: "\eb5e";
}
.uil-image-download:before {
  content: "\eb5f";
}
.uil-image-edit:before {
  content: "\eb60";
}
.uil-image-lock:before {
  content: "\eb61";
}
.uil-image-minus:before {
  content: "\eb62";
}
.uil-image-plus:before {
  content: "\eb63";
}
.uil-image-question:before {
  content: "\eb64";
}
.uil-image-redo:before {
  content: "\eb65";
}
.uil-image-resize-landscape:before {
  content: "\eb66";
}
.uil-image-resize-square:before {
  content: "\eb67";
}
.uil-image-search:before {
  content: "\eb68";
}
.uil-image-share:before {
  content: "\eb69";
}
.uil-image-shield:before {
  content: "\eb6a";
}
.uil-image-slash:before {
  content: "\eb6b";
}
.uil-image-times:before {
  content: "\eb6c";
}
.uil-image-upload:before {
  content: "\eb6d";
}
.uil-image-v:before {
  content: "\eb6e";
}
.uil-image:before {
  content: "\eb6f";
}
.uil-images:before {
  content: "\eb70";
}
.uil-import:before {
  content: "\eb71";
}
.uil-incoming-call:before {
  content: "\eb72";
}
.uil-info-circle:before {
  content: "\eb73";
}
.uil-instagram-alt:before {
  content: "\eb74";
}
.uil-instagram:before {
  content: "\eb75";
}
.uil-intercom-alt:before {
  content: "\eb76";
}
.uil-intercom:before {
  content: "\eb77";
}
.uil-invoice:before {
  content: "\eb78";
}
.uil-italic:before {
  content: "\eb79";
}
.uil-jackhammer:before {
  content: "\eb7a";
}
.uil-java-script:before {
  content: "\eb7b";
}
.uil-kayak:before {
  content: "\eb7c";
}
.uil-key-skeleton-alt:before {
  content: "\eb7d";
}
.uil-key-skeleton:before {
  content: "\eb7e";
}
.uil-keyboard-alt:before {
  content: "\eb7f";
}
.uil-keyboard-hide:before {
  content: "\eb80";
}
.uil-keyboard-show:before {
  content: "\eb81";
}
.uil-keyboard:before {
  content: "\eb82";
}
.uil-keyhole-circle:before {
  content: "\eb83";
}
.uil-keyhole-square-full:before {
  content: "\eb84";
}
.uil-keyhole-square:before {
  content: "\eb85";
}
.uil-kid:before {
  content: "\eb86";
}
.uil-label-alt:before {
  content: "\eb87";
}
.uil-label:before {
  content: "\eb88";
}
.uil-lamp:before {
  content: "\eb89";
}
.uil-laptop-cloud:before {
  content: "\eb8a";
}
.uil-laptop:before {
  content: "\eb8b";
}
.uil-laughing:before {
  content: "\eb8c";
}
.uil-layer-group:before {
  content: "\eb8d";
}
.uil-layers-alt:before {
  content: "\eb8e";
}
.uil-layers-slash:before {
  content: "\eb8f";
}
.uil-layers:before {
  content: "\eb90";
}
.uil-left-arrow-from-left:before {
  content: "\eb91";
}
.uil-left-arrow-to-left:before {
  content: "\eb92";
}
.uil-left-indent:before {
  content: "\eb93";
}
.uil-left-to-right-text-direction:before {
  content: "\eb94";
}
.uil-life-ring:before {
  content: "\eb95";
}
.uil-lightbulb-alt:before {
  content: "\eb96";
}
.uil-lightbulb:before {
  content: "\eb97";
}
.uil-line-alt:before {
  content: "\eb98";
}
.uil-line-spacing:before {
  content: "\eb99";
}
.uil-line:before {
  content: "\eb9a";
}
.uil-link-alt:before {
  content: "\eb9b";
}
.uil-link-broken:before {
  content: "\eb9c";
}
.uil-link-h:before {
  content: "\eb9d";
}
.uil-link:before {
  content: "\eb9e";
}
.uil-linkedin-alt:before {
  content: "\eb9f";
}
.uil-left-indent-alt:before {
  content: "\eba0";
}
.uil-list-ul:before {
  content: "\eba1";
}
.uil-location-arrow-alt:before {
  content: "\eba2";
}
.uil-location-arrow:before {
  content: "\eba3";
}
.uil-layer-group-slash:before {
  content: "\eba4";
}
.uil-location-pin-alt:before {
  content: "\eba5";
}
.uil-list-ui-alt:before {
  content: "\eba6";
}
.uil-location-point:before {
  content: "\eba7";
}
.uil-linkedin:before {
  content: "\eba8";
}
.uil-lock-access:before {
  content: "\eba9";
}
.uil-location:before {
  content: "\ebaa";
}
.uil-lock-alt:before {
  content: "\ebab";
}
.uil-lock-open-alt:before {
  content: "\ebac";
}
.uil-lock-slash:before {
  content: "\ebad";
}
.uil-mailbox-alt:before {
  content: "\ebae";
}
.uil-lock:before {
  content: "\ebaf";
}
.uil-mailbox:before {
  content: "\ebb0";
}
.uil-map-marker-alt:before {
  content: "\ebb1";
}
.uil-map-marker-edit:before {
  content: "\ebb2";
}
.uil-map-marker-info:before {
  content: "\ebb3";
}
.uil-map-marker-minus:before {
  content: "\ebb4";
}
.uil-map-marker-plus:before {
  content: "\ebb5";
}
.uil-map-marker-question:before {
  content: "\ebb6";
}
.uil-map-marker-shield:before {
  content: "\ebb7";
}
.uil-map-marker-slash:before {
  content: "\ebb8";
}
.uil-map-marker:before {
  content: "\ebb9";
}
.uil-map-pin-alt:before {
  content: "\ebba";
}
.uil-map-pin:before {
  content: "\ebbb";
}
.uil-map:before {
  content: "\ebbc";
}
.uil-mars:before {
  content: "\ebbd";
}
.uil-master-card:before {
  content: "\ebbe";
}
.uil-maximize-left:before {
  content: "\ebbf";
}
.uil-medal:before {
  content: "\ebc0";
}
.uil-medical-drip:before {
  content: "\ebc1";
}
.uil-medical-square-full:before {
  content: "\ebc2";
}
.uil-medical-square:before {
  content: "\ebc3";
}
.uil-medical:before {
  content: "\ebc4";
}
.uil-medium-m:before {
  content: "\ebc5";
}
.uil-medkit:before {
  content: "\ebc6";
}
.uil-meeting-board:before {
  content: "\ebc7";
}
.uil-megaphone:before {
  content: "\ebc8";
}
.uil-meh-alt:before {
  content: "\ebc9";
}
.uil-meh-closed-eye:before {
  content: "\ebca";
}
.uil-meh:before {
  content: "\ebcb";
}
.uil-message:before {
  content: "\ebcc";
}
.uil-metro:before {
  content: "\ebcd";
}
.uil-microphone-slash:before {
  content: "\ebce";
}
.uil-microphone:before {
  content: "\ebcf";
}
.uil-minus-circle:before {
  content: "\ebd0";
}
.uil-minus-path:before {
  content: "\ebd1";
}
.uil-minus-square-full:before {
  content: "\ebd2";
}
.uil-minus-square:before {
  content: "\ebd3";
}
.uil-minus:before {
  content: "\ebd4";
}
.uil-missed-call:before {
  content: "\ebd5";
}
.uil-mobey-bill-slash:before {
  content: "\ebd6";
}
.uil-mobile-android-alt:before {
  content: "\ebd7";
}
.uil-mobile-android:before {
  content: "\ebd8";
}
.uil-mobile-vibrate:before {
  content: "\ebd9";
}
.uil-modem:before {
  content: "\ebda";
}
.uil-money-bill-stack:before {
  content: "\ebdb";
}
.uil-money-bill:before {
  content: "\ebdc";
}
.uil-money-insert:before {
  content: "\ebdd";
}
.uil-money-stack:before {
  content: "\ebde";
}
.uil-money-withdraw:before {
  content: "\ebdf";
}
.uil-money-withdrawal:before {
  content: "\ebe0";
}
.uil-moneybag-alt:before {
  content: "\ebe1";
}
.uil-moneybag:before {
  content: "\ebe2";
}
.uil-monitor-heart-rate:before {
  content: "\ebe3";
}
.uil-monitor:before {
  content: "\ebe4";
}
.uil-moon-eclipse:before {
  content: "\ebe5";
}
.uil-moon:before {
  content: "\ebe6";
}
.uil-moonset:before {
  content: "\ebe7";
}
.uil-mountains-sun:before {
  content: "\ebe8";
}
.uil-mountains:before {
  content: "\ebe9";
}
.uil-mouse-alt:before {
  content: "\ebea";
}
.uil-mouse:before {
  content: "\ebeb";
}
.uil-multiply:before {
  content: "\ebec";
}
.uil-music-note:before {
  content: "\ebed";
}
.uil-music-tune-slash:before {
  content: "\ebee";
}
.uil-music:before {
  content: "\ebef";
}
.uil-n-a:before {
  content: "\ebf0";
}
.uil-navigator:before {
  content: "\ebf1";
}
.uil-nerd:before {
  content: "\ebf2";
}
.uil-newspaper:before {
  content: "\ebf3";
}
.uil-ninja:before {
  content: "\ebf4";
}
.uil-no-entry:before {
  content: "\ebf5";
}
.uil-notebooks:before {
  content: "\ebf6";
}
.uil-notes:before {
  content: "\ebf7";
}
.uil-object-group:before {
  content: "\ebf8";
}
.uil-object-ungroup:before {
  content: "\ebf9";
}
.uil-octagon:before {
  content: "\ebfa";
}
.uil-opera-alt:before {
  content: "\ebfb";
}
.uil-opera:before {
  content: "\ebfc";
}
.uil-outgoing-call:before {
  content: "\ebfd";
}
.uil-package:before {
  content: "\ebfe";
}
.uil-padlock:before {
  content: "\ebff";
}
.uil-paint-tool:before {
  content: "\ec00";
}
.uil-palette:before {
  content: "\ec01";
}
.uil-panorama-h-alt:before {
  content: "\ec02";
}
.uil-panorama-h:before {
  content: "\ec03";
}
.uil-panorama-v:before {
  content: "\ec04";
}
.uil-paperclip:before {
  content: "\ec05";
}
.uil-paragraph:before {
  content: "\ec06";
}
.uil-parcel:before {
  content: "\ec07";
}
.uil-parking-square:before {
  content: "\ec08";
}
.uil-pathfinder-unite:before {
  content: "\ec09";
}
.uil-pathfinder:before {
  content: "\ec0a";
}
.uil-pause-circle:before {
  content: "\ec0b";
}
.uil-pause:before {
  content: "\ec0c";
}
.uil-paypal:before {
  content: "\ec0d";
}
.uil-pen:before {
  content: "\ec0e";
}
.uil-pentagon:before {
  content: "\ec0f";
}
.uil-percentage:before {
  content: "\ec10";
}
.uil-phone-alt:before {
  content: "\ec11";
}
.uil-phone-pause:before {
  content: "\ec12";
}
.uil-phone-slash:before {
  content: "\ec13";
}
.uil-phone-times:before {
  content: "\ec14";
}
.uil-phone-volume:before {
  content: "\ec15";
}
.uil-phone:before {
  content: "\ec16";
}
.uil-picture:before {
  content: "\ec17";
}
.uil-plane-departure:before {
  content: "\ec18";
}
.uil-plane-fly:before {
  content: "\ec19";
}
.uil-plane:before {
  content: "\ec1a";
}
.uil-play-circle:before {
  content: "\ec1b";
}
.uil-plane-arrival:before {
  content: "\ec1c";
}
.uil-plus-circle:before {
  content: "\ec1d";
}
.uil-plus-square:before {
  content: "\ec1e";
}
.uil-plus10:before {
  content: "\ec1f";
}
.uil-polygon:before {
  content: "\ec20";
}
.uil-podium:before {
  content: "\ec21";
}
.uil-presentation-lines-alt:before {
  content: "\ec22";
}
.uil-presentation-line:before {
  content: "\ec23";
}
.uil-previous:before {
  content: "\ec24";
}
.uil-presentation:before {
  content: "\ec25";
}
.uil-pound:before {
  content: "\ec26";
}
.uil-postcard:before {
  content: "\ec27";
}
.uil-pound-circle:before {
  content: "\ec28";
}
.uil-post-stamp:before {
  content: "\ec29";
}
.uil-registered:before {
  content: "\ec2a";
}
.uil-refresh:before {
  content: "\ec2b";
}
.uil-right-to-left-text-direction:before {
  content: "\ec2c";
}
.uil-record-audio:before {
  content: "\ec2d";
}
.uil-receipt:before {
  content: "\ec2e";
}
.uil-question-circle:before {
  content: "\ec2f";
}
.uil-puzzle-piece:before {
  content: "\ec30";
}
.uil-pump:before {
  content: "\ec31";
}
.uil-sad-squint:before {
  content: "\ec32";
}
.uil-sad-crying:before {
  content: "\ec33";
}
.uil-sad-cry:before {
  content: "\ec34";
}
.uil-receipt-alt:before {
  content: "\ec35";
}
.uil-raindrops:before {
  content: "\ec36";
}
.uil-raindrops-alt:before {
  content: "\ec37";
}
.uil-sad-dizzy:before {
  content: "\ec38";
}
.uil-presentation-play:before {
  content: "\ec39";
}
.uil-presentation-times:before {
  content: "\ec3a";
}
.uil-shopping-cart-alt:before {
  content: "\ec3b";
}
.uil-shovel:before {
  content: "\ec3c";
}
.uil-smile-wink-alt:before {
  content: "\ec3d";
}
.uil-shopping-trolley:before {
  content: "\ec3e";
}
.uil-smile-squint-wink:before {
  content: "\ec3f";
}
.uil-smile-beam:before {
  content: "\ec40";
}
.uil-sliders-v:before {
  content: "\ec41";
}
.uil-presentation-minus:before {
  content: "\ec42";
}
.uil-smile-squint-wink-alt:before {
  content: "\ec43";
}
.uil-smile-dizzy:before {
  content: "\ec44";
}
.uil-swatchbook:before {
  content: "\ec45";
}
.uil-sliders-v-alt:before {
  content: "\ec46";
}
.uil-surprise:before {
  content: "\ec47";
}
.uil-sun:before {
  content: "\ec48";
}
.uil-sunset:before {
  content: "\ec49";
}
.uil-suitcase:before {
  content: "\ec4a";
}
.uil-slack:before {
  content: "\ec4b";
}
.uil-shield-check:before {
  content: "\ec4c";
}
.uil-shield-exclamation:before {
  content: "\ec4d";
}
.uil-rss:before {
  content: "\ec4e";
}
.uil-ruler:before {
  content: "\ec4f";
}
.uil-ruler-combined:before {
  content: "\ec50";
}
.uil-suitcase-alt:before {
  content: "\ec51";
}
.uil-store-alt:before {
  content: "\ec52";
}
.uil-stop-circle:before {
  content: "\ec53";
}
.uil-step-backward:before {
  content: "\ec54";
}
.uil-step-forward:before {
  content: "\ec55";
}
.uil-rss-interface:before {
  content: "\ec56";
}
.uil-react:before {
  content: "\ec57";
}
.uil-rss-alt:before {
  content: "\ec58";
}
.uil-redo:before {
  content: "\ec59";
}
.uil-right-indent-alt:before {
  content: "\ec5a";
}
.uil-reddit-alien-alt:before {
  content: "\ec5b";
}
.uil-step-backward-circle:before {
  content: "\ec5c";
}
.uil-spin:before {
  content: "\ec5d";
}
.uil-spade:before {
  content: "\ec5e";
}
.uil-space-key:before {
  content: "\ec5f";
}
.uil-restaurant:before {
  content: "\ec60";
}
.uil-snowflake:before {
  content: "\ec61";
}
.uil-repeat:before {
  content: "\ec62";
}
.uil-snowflake-alt:before {
  content: "\ec63";
}
.uil-snapchat-ghost:before {
  content: "\ec64";
}
.uil-smile-wink:before {
  content: "\ec65";
}
.uil-smile:before {
  content: "\ec66";
}
.uil-raddit-alien-alt:before {
  content: "\ec67";
}
.uil-rainbow:before {
  content: "\ec68";
}
.uil-rotate-360:before {
  content: "\ec69";
}
.uil-rope-way:before {
  content: "\ec6a";
}
.uil-snapchat-alt:before {
  content: "\ec6b";
}
.uil-sperms:before {
  content: "\ec6c";
}
.uil-stopwatch:before {
  content: "\ec6d";
}
.uil-robot:before {
  content: "\ec6e";
}
.uil-signal:before {
  content: "\ec6f";
}
.uil-silence:before {
  content: "\ec70";
}
.uil-silent-squint:before {
  content: "\ec71";
}
.uil-square:before {
  content: "\ec72";
}
.uil-signal-alt:before {
  content: "\ec73";
}
.uil-square-shape:before {
  content: "\ec74";
}
.uil-star-half-alt:before {
  content: "\ec75";
}
.uil-squint:before {
  content: "\ec76";
}
.uil-shopping-basket:before {
  content: "\ec77";
}
.uil-slack-alt:before {
  content: "\ec78";
}
.uil-skype:before {
  content: "\ec79";
}
.uil-square-full:before {
  content: "\ec7a";
}
.uil-sorting:before {
  content: "\ec7b";
}
.uil-sort:before {
  content: "\ec7c";
}
.uil-sort-amount-up:before {
  content: "\ec7d";
}
.uil-skip-forward-circle:before {
  content: "\ec7e";
}
.uil-skype-alt:before {
  content: "\ec7f";
}
.uil-skip-forward-alt:before {
  content: "\ec80";
}
.uil-skip-forward:before {
  content: "\ec81";
}
.uil-sitemap:before {
  content: "\ec82";
}
.uil-sort-amount-down:before {
  content: "\ec83";
}
.uil-sim-card:before {
  content: "\ec84";
}
.uil-snow-flake:before {
  content: "\ec85";
}
.uil-sport:before {
  content: "\ec86";
}
.uil-servers:before {
  content: "\ec87";
}
.uil-snapchat-square:before {
  content: "\ec88";
}
.uil-sign-alt:before {
  content: "\ec89";
}
.uil-sign-in-alt:before {
  content: "\ec8a";
}
.uil-server-connection:before {
  content: "\ec8b";
}
.uil-shuffle:before {
  content: "\ec8c";
}
.uil-shutter:before {
  content: "\ec8d";
}
.uil-shrink:before {
  content: "\ec8e";
}
.uil-server:before {
  content: "\ec8f";
}
.uil-server-alt:before {
  content: "\ec90";
}
.uil-selfie:before {
  content: "\ec91";
}
.uil-search:before {
  content: "\ec92";
}
.uil-shutter-alt:before {
  content: "\ec93";
}
.uil-sigma:before {
  content: "\ec94";
}
.uil-server-network:before {
  content: "\ec95";
}
.uil-search-plus:before {
  content: "\ec96";
}
.uil-search-alt:before {
  content: "\ec97";
}
.uil-scroll:before {
  content: "\ec98";
}
.uil-sick:before {
  content: "\ec99";
}
.uil-subway-alt:before {
  content: "\ec9a";
}
.uil-subway:before {
  content: "\ec9b";
}
.uil-search-minus:before {
  content: "\ec9c";
}
.uil-scroll-h:before {
  content: "\ec9d";
}
.uil-screw:before {
  content: "\ec9e";
}
.uil-signal-alt-3:before {
  content: "\ec9f";
}
.uil-sign-right:before {
  content: "\eca0";
}
.uil-sign-out-alt:before {
  content: "\eca1";
}
.uil-schedule:before {
  content: "\eca2";
}
.uil-science:before {
  content: "\eca3";
}
.uil-sign-left:before {
  content: "\eca4";
}
.uil-scenery:before {
  content: "\eca5";
}
.uil-scaling-right:before {
  content: "\eca6";
}
.uil-presentation-edit:before {
  content: "\eca7";
}
.uil-presentation-check:before {
  content: "\eca8";
}
.uil-processor:before {
  content: "\eca9";
}
.uil-process:before {
  content: "\ecaa";
}
.uil-presentation-plus:before {
  content: "\ecab";
}
.uil-scaling-left:before {
  content: "\ecac";
}
.uil-sad:before {
  content: "\ecad";
}
.uil-print-slash:before {
  content: "\ecae";
}
.uil-print:before {
  content: "\ecaf";
}
.uil-share-alt:before {
  content: "\ecb0";
}
.uil-pricetag-alt:before {
  content: "\ecb1";
}
.uil-subject:before {
  content: "\ecb2";
}
.uil-servicemark:before {
  content: "\ecb3";
}
.uil-streering:before {
  content: "\ecb4";
}
.uil-plug:before {
  content: "\ecb5";
}
.uil-prescription-bottle:before {
  content: "\ecb6";
}
.uil-store:before {
  content: "\ecb7";
}
.uil-power:before {
  content: "\ecb8";
}
.uil-stretcher:before {
  content: "\ecb9";
}
.uil-shop:before {
  content: "\ecba";
}
.uil-play:before {
  content: "\ecbb";
}
.uil-shield:before {
  content: "\ecbc";
}
.uil-ship:before {
  content: "\ecbd";
}
.uil-shield-slash:before {
  content: "\ecbe";
}
.uil-shield-question:before {
  content: "\ecbf";
}
.uil-swiggy:before {
  content: "\ecc0";
}
.uil-swimmer:before {
  content: "\ecc1";
}
.uil-symbol:before {
  content: "\ecc2";
}
.uil-sync-exclamation:before {
  content: "\ecc3";
}
.uil-sync-slash:before {
  content: "\ecc4";
}
.uil-sync:before {
  content: "\ecc5";
}
.uil-syringe:before {
  content: "\ecc6";
}
.uil-table:before {
  content: "\ecc7";
}
.uil-tablet:before {
  content: "\ecc8";
}
.uil-tablets:before {
  content: "\ecc9";
}
.uil-tachometer-fast:before {
  content: "\ecca";
}
.uil-tag-alt:before {
  content: "\eccb";
}
.uil-tag:before {
  content: "\eccc";
}
.uil-tape:before {
  content: "\eccd";
}
.uil-taxi:before {
  content: "\ecce";
}
.uil-tear:before {
  content: "\eccf";
}
.uil-technology:before {
  content: "\ecd0";
}
.uil-telegram-alt:before {
  content: "\ecd1";
}
.uil-telegram:before {
  content: "\ecd2";
}
.uil-telescope:before {
  content: "\ecd3";
}
.uil-temperature-empty:before {
  content: "\ecd4";
}
.uil-temperature-half:before {
  content: "\ecd5";
}
.uil-temperature-plus:before {
  content: "\ecd6";
}
.uil-temperature-minus:before {
  content: "\ecd7";
}
.uil-temperature-quarter:before {
  content: "\ecd8";
}
.uil-temperature:before {
  content: "\ecd9";
}
.uil-temperature-three-quarter:before {
  content: "\ecda";
}
.uil-text-fields:before {
  content: "\ecdb";
}
.uil-text-size:before {
  content: "\ecdc";
}
.uil-text-strike-through:before {
  content: "\ecdd";
}
.uil-text:before {
  content: "\ecde";
}
.uil-th-large:before {
  content: "\ecdf";
}
.uil-th-slash:before {
  content: "\ece0";
}
.uil-th:before {
  content: "\ece1";
}
.uil-step-backward-alt:before {
  content: "\ece2";
}
.uil-stopwatch-slash:before {
  content: "\ece3";
}
.uil-star:before {
  content: "\ece4";
}
.uil-server-network-alt:before {
  content: "\ece5";
}
.uil-thermometer:before {
  content: "\ece6";
}
.uil-thumbs-down:before {
  content: "\ece7";
}
.uil-thumbs-up:before {
  content: "\ece8";
}
.uil-thunderstorm-moon:before {
  content: "\ece9";
}
.uil-thunderstorm-sun:before {
  content: "\ecea";
}
.uil-thunderstorm:before {
  content: "\eceb";
}
.uil-ticket:before {
  content: "\ecec";
}
.uil-times-circle:before {
  content: "\eced";
}
.uil-times-square:before {
  content: "\ecee";
}
.uil-times:before {
  content: "\ecef";
}
.uil-toggle-on:before {
  content: "\ecf0";
}
.uil-toggle-off:before {
  content: "\ecf1";
}
.uil-top-arrow-from-top:before {
  content: "\ecf2";
}
.uil-top-arrow-to-top:before {
  content: "\ecf3";
}
.uil-tornado:before {
  content: "\ecf4";
}
.uil-trademark-circle:before {
  content: "\ecf5";
}
.uil-trademark:before {
  content: "\ecf6";
}
.uil-traffic-barrier:before {
  content: "\ecf7";
}
.uil-trash-alt:before {
  content: "\ecf8";
}
.uil-trash:before {
  content: "\ecf9";
}
.uil-trophy:before {
  content: "\ecfa";
}
.uil-trees:before {
  content: "\ecfb";
}
.uil-trowel:before {
  content: "\ecfc";
}
.uil-truck-case:before {
  content: "\ecfd";
}
.uil-triangle:before {
  content: "\ecfe";
}
.uil-truck-loading:before {
  content: "\ecff";
}
.uil-truck:before {
  content: "\ed00";
}
.uil-tumblr-alt:before {
  content: "\ed01";
}
.uil-tumblr-square:before {
  content: "\ed02";
}
.uil-tumblr:before {
  content: "\ed03";
}
.uil-tv-retro-slash:before {
  content: "\ed04";
}
.uil-tv-retro:before {
  content: "\ed05";
}
.uil-twitter-alt:before {
  content: "\ed06";
}
.uil-umbrella:before {
  content: "\ed07";
}
.uil-unamused:before {
  content: "\ed08";
}
.uil-underline:before {
  content: "\ed09";
}
.uil-twitter:before {
  content: "\ed0a";
}
.uil-university:before {
  content: "\ed0b";
}
.uil-unlock-alt:before {
  content: "\ed0c";
}
.uil-unlock:before {
  content: "\ed0d";
}
.uil-upload-alt:before {
  content: "\ed0e";
}
.uil-upload:before {
  content: "\ed0f";
}
.uil-usd-circle:before {
  content: "\ed10";
}
.uil-usd-square:before {
  content: "\ed11";
}
.uil-user-check:before {
  content: "\ed12";
}
.uil-user-circle:before {
  content: "\ed13";
}
.uil-user-hard-hat:before {
  content: "\ed14";
}
.uil-user-exclamation:before {
  content: "\ed15";
}
.uil-user-minus:before {
  content: "\ed16";
}
.uil-user-plus:before {
  content: "\ed17";
}
.uil-user-square:before {
  content: "\ed18";
}
.uil-user-times:before {
  content: "\ed19";
}
.uil-user:before {
  content: "\ed1a";
}
.uil-users-alt:before {
  content: "\ed1b";
}
.uil-utensils-alt:before {
  content: "\ed1c";
}
.uil-utensils:before {
  content: "\ed1d";
}
.uil-vector-square-alt:before {
  content: "\ed1e";
}
.uil-vector-square:before {
  content: "\ed1f";
}
.uil-venus:before {
  content: "\ed20";
}
.uil-vertical-align-bottom:before {
  content: "\ed21";
}
.uil-vertical-align-center:before {
  content: "\ed22";
}
.uil-vertical-align-top:before {
  content: "\ed23";
}
.uil-vertical-distribute-bottom:before {
  content: "\ed24";
}
.uil-vertical-distribution-center:before {
  content: "\ed25";
}
.uil-vertical-distribution-top:before {
  content: "\ed26";
}
.uil-video-slash:before {
  content: "\ed27";
}
.uil-video:before {
  content: "\ed28";
}
.uil-visual-studio:before {
  content: "\ed29";
}
.uil-vk-alt:before {
  content: "\ed2a";
}
.uil-vk:before {
  content: "\ed2b";
}
.uil-voicemail-rectangle:before {
  content: "\ed2c";
}
.uil-voicemail:before {
  content: "\ed2d";
}
.uil-volleyball:before {
  content: "\ed2e";
}
.uil-volume-down:before {
  content: "\ed2f";
}
.uil-volume-mute:before {
  content: "\ed30";
}
.uil-volume-off:before {
  content: "\ed31";
}
.uil-volume-up:before {
  content: "\ed32";
}
.uil-volume:before {
  content: "\ed33";
}
.uil-vuejs-alt:before {
  content: "\ed34";
}
.uil-wall:before {
  content: "\ed35";
}
.uil-wallet:before {
  content: "\ed36";
}
.uil-water-drop-slash:before {
  content: "\ed37";
}
.uil-watch:before {
  content: "\ed38";
}
.uil-watch-alt:before {
  content: "\ed39";
}
.uil-web-grid-alt:before {
  content: "\ed3a";
}
.uil-water:before {
  content: "\ed3b";
}
.uil-water-glass:before {
  content: "\ed3c";
}
.uil-webcam:before {
  content: "\ed3d";
}
.uil-web-section:before {
  content: "\ed3e";
}
.uil-vuejs:before {
  content: "\ed3f";
}
.uil-wheel-barrow:before {
  content: "\ed40";
}
.uil-web-grid:before {
  content: "\ed41";
}
.uil-web-section-alt:before {
  content: "\ed42";
}
.uil-wifi-slash:before {
  content: "\ed43";
}
.uil-wifi:before {
  content: "\ed44";
}
.uil-wifi-router:before {
  content: "\ed45";
}
.uil-wheelchair:before {
  content: "\ed46";
}
.uil-wind-moon:before {
  content: "\ed47";
}
.uil-wheelchair-alt:before {
  content: "\ed48";
}
.uil-wind-sun:before {
  content: "\ed49";
}
.uil-window-maximize:before {
  content: "\ed4a";
}
.uil-window-grid:before {
  content: "\ed4b";
}
.uil-window-restore:before {
  content: "\ed4c";
}
.uil-window-section:before {
  content: "\ed4d";
}
.uil-weight:before {
  content: "\ed4e";
}
.uil-window:before {
  content: "\ed4f";
}
.uil-windsock:before {
  content: "\ed50";
}
.uil-wrap-text:before {
  content: "\ed51";
}
.uil-wrench:before {
  content: "\ed52";
}
.uil-whatsapp:before {
  content: "\ed53";
}
.uil-yellow:before {
  content: "\ed54";
}
.uil-yen-circle:before {
  content: "\ed55";
}
.uil-yen:before {
  content: "\ed56";
}
.uil-yin-yang:before {
  content: "\ed57";
}
.uil-youtube-alt:before {
  content: "\ed58";
}
.uil-youtube:before {
  content: "\ed59";
}
.uil-wind:before {
  content: "\ed5a";
}
