@import "~bootstrap/scss/utilities";
$utilities: map-merge($utilities,
  ("width": map-merge(map-get($utilities, "width"),
      (values: map-merge(map-get(map-get($utilities, "width"), "values"),
          $spacers,
        ),
      ),
    ),
    "height": map-merge(map-get($utilities, "height"),
      (values: map-merge(map-get(map-get($utilities, "height"), "values"),
          $spacers,
        ),
      ),
    ),
    "font-size": null,
    "line-height": (property: line-height,
      class: lh,
      values: (1: 1,
        xs: $line-height-xs,
        sm: $line-height-sm,
        base: $line-height-base,
        lg: $line-height-lg,
      )),
    "min-viewport-height": (property: min-height,
      class: min-vh,
      values: (25: 25vh, 50: 50vh, 60: 60vh, 70: 70vh, 75: 75vh, 100: 100vh)),
    "color": map-merge(map-get($utilities, "color"),
      (values: map-merge($text-colors,
          ("white": $white,
            "body": $body-color,
            "muted": $text-muted,
            "inverse": $inverse,
            "dark": $navy,
            "black-50": rgba($black, .5),
            "white-50": rgba($white, .5),
            "reset": inherit,
          )),
      ),
    ),
    "rounded": (property: border-radius,
      class: rounded,
      values: (null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: $border-radius-xl,
        circle: 50%,
        pill: $border-radius-pill)),
  ));
